<!DOCTYPE html>
<html>
  <head>
    <title>Informed, l'actualité par la communauté pour la communauté</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="global-container">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    <div class="alert-device">
      <p>Le site n'est pas encore optimisé pour les mobiles, veuillez nous excuser pour la gêne occasionnée.</p>
    </div>
        <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
